@model miVacationSurfer.ActivityReview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityPro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityReviewDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityReviewDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
