@model PagedList.IPagedList<miVacationSurfer.ActivityReview>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "ActivityReview";
    }

    <h2>Activity Review</h2>


    @using (Html.BeginForm("Index", "ActivityReview", FormMethod.Get))
    {

        <p>

            Search Activity Review: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

            <input type="submit" value="Search" />

        </p>

    }

    <p>
        <button type="button" class="btn">
            @Html.ActionLink("Create New", "Create")
        </button>
    </p>

            <table class="table" id="black">
                <tr>
                    <th>
                        @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.ActivityPro)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityCon)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActivityReviewDetails)
                        </th>*@
                    <th>
                        @Html.ActionLink("ActivityName", "Index", new { sortOrder = ViewBag.ActivitySortParm })
                    </th>
                    <th></th>
                </tr>
      
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityRating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ActivityPro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityCon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActivityReviewDetails)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                        </td>
                        <td class="btn-group">
                            <button type="button" class="btn">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </button>
                            <button type="button" class="btn">
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </button>
                            <button type="button" class="btn">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </button>
                        </td>
                    </tr>
                }

            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
