@model PagedList.IPagedList<miVacationSurfer.ActivityReview>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "ActivityReview";
    }

    <h2>Activity Review</h2>


    @using (Html.BeginForm("Index", "ActivityReview", FormMethod.Get))
    {

        <p>

            Search Activity Review: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

            <input type="submit" value="Search" />

        </p>

    }

    <p>
        <input type="button" value="Create New" class="btn" onclick="location.href='@Url.Action("Create", "ActivityReview")'" />
       
    </p>

            <table class="table col-md-12" id="black">
                <tr>
                    <th>
                        @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                    </th>                 
                    <th>
                        @Html.ActionLink("Activity Name", "Index", new { sortOrder = ViewBag.ActivitySortParm })
                    </th>
                    <th>
                        @Html.Label("Activity Details")
                    </th>
                    <th></th>
                  
                </tr>
      
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityRating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityReviewDetails)
                        </td>

                        <td class="btn-group">
                            <input type="button" value="Edit" class="btn" onclick="location.href='@Url.Action("Edit", "ActivityReview", new { id = item.Id })'" />
                            <input type="button" value="Details" class="btn" onclick="location.href='@Url.Action("Details", "ActivityReview", new { id = item.Id })'" />
                            <input type="button" value="Delete" class="btn" onclick="location.href='@Url.Action("Delete", "ActivityReview", new { id = item.Id })'" />
                        </td>
                    </tr>
                }

            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
