@model miVacationSurfer.LocationReview
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "27658bba-f817-4037-b5b8-c389fb4d9d62", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location Review</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Location.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.LocationRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationPro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationReviewDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationReviewDetails)
        </dd>

        

    </dl>

</div>
<div class="form-group">
    <span class='st_sharethis_large'></span>
    <span class='st_facebook_large'></span>
    <span class='st_twitter_large'></span>
    <span class='st_linkedin_large'></span>
    <span class='st_pinterest_large'></span>
    <span class='st_email_large'></span>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
