@model PagedList.IPagedList<miVacationSurfer.LocationReview>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Location Review";
    }

    <h2>Location Review</h2>

    <p>
        <input type="button" value="Create New" class="btn" onclick="location.href='@Url.Action("Create", "LocationReview")'" />
    </p>

    @using (Html.BeginForm("Index", "LocationReview", FormMethod.Get))
    {

        <p>

            Search Location Review: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

            <input type="submit" value="Search" />

        </p>

    }

    <table class="table" id="black">
        <tr>
            <th>
                @Html.ActionLink("Region", "Index", new { sortOrder = ViewBag.RegionSortParm })
            </th>
            <th>
                @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm })
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSortParm })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
      
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Region.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationDate)
                </td>

                <td class="btn-group">
                    <input type="button" value="Edit" class="btn" onclick="location.href='@Url.Action("Edit", "LocationReview", new { id = item.Id })'" />
                    <input type="button" value="Details" class="btn" onclick="location.href='@Url.Action("Details", "LocationReview", new { id = item.Id })'" />
                    <input type="button" value="Delete" class="btn" onclick="location.href='@Url.Action("Delete", "LocationReview", new { id = item.Id })'" />
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
