
@{
    ViewBag.Title = "Manage";
}

<h2>Manage Data Relationships</h2>
<body>
    <div class="row">

        <div class="col-md-12">

            @Html.ActionLink("Manage Regions", "Index", "Region")<br />
            @Html.ActionLink("Manage Locations", "Index", "Location")<br />
            @Html.ActionLink("Manage Location-ActivityType Relationship", "Index", "LocationActivityType")<br />
            @Html.ActionLink("Manage Activity Types", "Index", "ActivityType")<br />
            @Html.ActionLink("Manage ActivityType-Season Relationship", "Index", "ActivityTypeSeason")<br />
            @Html.ActionLink("Manage Seasons", "Index", "Season")<br />
            @Html.ActionLink("Manage Season-Activity Relationship", "Index", "SeasonActivity")<br />
            @Html.ActionLink("Manage Activities", "Index", "Activity")<br />

        </div>
    </div>
</body>
