@model miVacationSurfer.ActivityTypeSeason

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityTypeSeason</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType.ActivityTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType.ActivityTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
