@model miVacationSurfer.ViewModel.ReviewViewModel
@{
    ViewBag.Title = "CreateReview";
}

<h2>CreateReview</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LocationActivityType</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Regions, "Region", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Region", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Regions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locations, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Locations, "", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
   
        <div>
            @{Html.RenderAction("AddLocationReview", new { id = 1 });}
        </div>
        @*<div>
            @Html.Partial("_LocationReview")
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityTypes, "ActivityType", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActivityType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityTypes, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.Seasons, "Season", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Season", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Seasons, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activitys, "Activity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Activity", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activitys, "", new { @class = "text-danger" })
            </div>
        </div>
        

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
        </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}